nav{
    margin-top: 10px;
    border: 2px solid white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    text-align:center;  
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 50px;

}
a:hover{
    background:linear-gradient(to left,rgba(0, 255, 136, 0.719),rgb(251, 255, 0) );
    border-radius: 25px;
}
q{
    align-items: center;
}
body{
    background:linear-gradient(to left,rgba(33, 197, 107, 0.863),rgb(240, 236, 22) );
   font-size: 18px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
